html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: $font-main;
    overflow-x: hidden;
    font-size: 19.5px;
    line-height: 1.5;
    @include font-weight(400);
    font-stretch: semi-condensed;
    font-optical-sizing: auto;
    background: $color-bckgd;

    .body {
        &__c {
            max-width: 1280px;
            width: 100%;
            margin: 0px auto;
            background: $color-bckgd__light;
        }
    }
}
