---
layout: default
---

<article class="page">

    <header class="page-header">

        <div class="page-header__c max--xm-p">

            <h1 class="page-title">{{ page.title }}</h1>

        </div>

    </header>

    <div class="page-content max--xm-p">

        {{ content }}

        <div class="search-content">
            <input type="text" id="search-input" placeholder="Indiquez votre recherche..." size="50">
            <ul id="list-results"></ul>
        </div>

    </div>

    <footer class="page-footer max--xm-p">

    </footer>

</article>