.galerie-ul {
    list-style: none;
    padding-left: 0px;
    display: grid;
    grid-gap: 1.5rem;
    margin: 3rem 0px;

    .galerie-li {
        text-align: center;
        width: 100%;
    }
    picture {
        figure{
            display: block;
            overflow: hidden;
            background-color: $color-primaire__light;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        figcaption {
            margin-top: 10px;
            font-size: smaller;
            text-align: center;
            line-height: 1.2;
            color: $color-primaire__light;
        }
    }
    &.col-2 {
        .galerie-li {
            flex: 0 1 50%;
        }
    }
    &[data-ratio="11"]{
        picture figure{
            @include aspect_ratio( 1,1 );
        }
    }
    &[data-ratio="43"]{
        picture figure{
            @include aspect_ratio( 4,3 );
        }
    }
    &[data-ratio="34"]{
        picture figure{
            @include aspect_ratio( 3,4 );
        }
    }
    &[data-ratio="169"]{
        picture figure{
            @include aspect_ratio( 16,9 );
        }
    }
}
// Loops to enumerate the classes for gallery columns.

@for $i from 2 through 8 {
    .galerie-col-#{$i} {
        @include breakpoint(min_md) {
            grid-template-columns: repeat($i, 1fr);
        }
        @include breakpoint(max_md) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(max_xs) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
