.main-navigation {
    .menu-icone {
        position: absolute;
        z-index: 44;
        top: 0;
        left: 0px;
        width: 100%;
        height: 100%;
        > div {
            position: relative;
            left: 0;
            background: $color-link;
            height: 5px;
            width: 100%;
            transition: all 0.2s ease;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: -10px;
                background: $color-link;
                width: 100%;
                height: 5px;
                transition: all 0.3s ease;
            }
            &::after {
                top: 10px;
            }
        }
    }
    .menu-toggler {
        position: absolute;
        z-index: 55;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: 0;
        &:checked {
            + .menu-icone > div {
                background: transparent;
            }
            + .menu-icone > div::before {
                top: 0;
                transform: rotate(45deg);
            }
            + .menu-icone > div::after {
                top: 0;
                transform: rotate(135deg);
            }
        }
    }
    @include breakpoint(min_xm) {
        .menu-icone,
        .menu-toggler {
            display: none;
        }
    }
    @include breakpoint(max_xm) {
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: calc(100% - 30px);
        margin-top: 7.5px;
        margin-bottom: 7.5px;
        .menu-toggler {
            display: block;
        }
        .menu-icone {
            @include flexBox(row, center, center);
        }
        .menu {
            display: block;
            position: fixed;
            z-index: 33;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: $color-bckgd__superlight;
            opacity: 0;
            transform: translateY(-150%);
            transition: all 0.3s ease;
            &__c {
                margin: 0px;
                @include flexBox(column, center, center);
                list-style: none;
                height: 100%;
                li {
                    font-size: x-large;
                    line-height: 1.8;
                    @include font-weight(500);
                    &.active a {
                        color: $color-hover;
                    }
                }
            }
        }
        .menu-toggler:checked ~ .menu {
            opacity: 1;
            transform: translateY(0%);
            transition: all 0.3s ease-in;
        }
    }
}
